.lang-active{border:1px solid #1f85ce; display: inline-block; min-width: 25px; text-align: center; padding: 1px 4px; background-color: #55b6fb; border-radius: 3px;}
.lang-unactive{border:1px solid #999999; display: inline-block; min-width: 25px; text-align: center; padding: 1px 4px; background-color: #ebf1f5; border-radius: 3px; color: #888888}
.lang-edit{color: #ffffff;} .lang-edit:hover{font-weight: bold;}
